body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title{
    margin-top: 0px !important;
}

.title>h1{
    display: inline;
    vertical-align: middle;
    line-height: 96px !important;
    margin-left: 20px !important;
}

#logo {
    display: inline;
    height: 96px;
}

#block > div {
    margin-bottom: 20px;
}

#block input, .buttons{
    margin-left: 10px;
}

.buttons label{
    width: 80px;
}

#block span{
    display: inline-block;
}

.column1{
    width: 100px;
}

.column2{
    width: 150px;
}

.column3{
    width: 70px;
}

#price-tbl th, td:not(:nth-child(2)) {
    text-align: center;
}

#price-tbl .checkbox{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#price-row {
    font-weight: bold;
}

.highlight-col {
    background-color: #d9edf7;
}

#help {
    margin-left: 20px;
}

@media screen and (max-width: 992px) {
    .column3{
        width: 100px;
    }
}

@media screen and (max-width: 914px) {
    .title>h1{
        line-height: 66px;
        font-size: 26px;
    }

    #logo {
        height: 66px;
    }
}

@media screen and (max-width: 767px) {
    .title>h1{
        line-height: 46px;
        font-size: 20px;
    }

    #logo {
        height: 46px;
    }

    .column1, .column3{
        width: 150px;
    }
}
